<div class="fantasy-team">
    <h1>Mi Fantasy Team</h1>
    <div class="team-header">
        <div class="team-row">
            <h2>{{ fantasyTeam?.name || 'Sin equipo' }}</h2>
            <button (click)="editingName = true">Editar</button>
        </div>

        <div *ngIf="editingName" class="edit-name">
            <input type="text" [(ngModel)]="newName" placeholder="Nuevo nombre" />
            <button (click)="saveName()">Guardar</button>
        </div>

        <div class="team-stats">
            <span>Presupuesto: <strong>{{ fantasyTeam?.budget }}</strong></span>
            <span>Puntos totales: <strong>{{ fantasyTeam?.totalPoints }}</strong></span>
        </div>
    </div>


    <h3>Mi alineación</h3>

    <div class="court">
        <div class="court-grid">

            <div class="slot" *ngFor="let p of fantasyTeam?.players">

                <div class="player-data">
                    <strong>{{ p.name }}</strong>
                    <p>Precio: {{ p.price }} créditos</p>
                    <p>Pts: {{ p.totalPts }} pts</p>

                    <button class="remove-btn" (click)="removePlayer(p.id)">
                        Quitar
                    </button>
                </div>
            </div>

        </div>
    </div>



    <button class="toggle-add" (click)="toggleAddForm()">
        {{ showAddForm ? 'Cerrar' : 'Agregar jugador' }}
    </button>

    <div *ngIf="showAddForm" class="add-form">

        <div class="option">
            <label>Equipo</label>
            <select [(ngModel)]="selectedTeamId" (change)="onTeamChange()" class="select">
                <option [ngValue]="null" disabled selected>Selecciona un equipo</option>
                <option *ngFor="let t of teams" [value]="t.idTeam">
                    {{ t.team }}
                </option>
            </select>
        </div>
        <div class="players-grid" *ngIf="players.length > 0">

            <div class="player-card selectable" *ngFor="let p of players">
                <div>
                    <h4>{{ p.nombre }}</h4>
                    <p>Precio: {{ p.precio }}</p>
                </div>

                <button (click)="addSelectedPlayer(p)">Agregar</button>
            </div>

        </div>

        <p class="success" *ngIf="success">{{ success }}</p>
        <p class="error" *ngIf="error">{{ error }}</p>

    </div>

</div>