<div class="auth-fullscreen fade-swap">
    <div class="auth-wrapper">
        <div class="auth-card fade-in">

            <h2>Recuperar contraseña</h2>

            <form (ngSubmit)="submit()">

                <div class="input-group" [class.has-error]="error">
                    <input type="email" [(ngModel)]="email" name="email" required placeholder=" " />
                    <label>Email registrado</label>
                </div>

                <button class="auth-btn" type="submit" [disabled]="loading">
                    Enviar enlace
                </button>
            </form>

            <p class="success-text" *ngIf="message" style="text-align:center; color:#7CFF7C;">
                {{ message }}
            </p>

            <p class="error" *ngIf="error">
                {{ error }}
            </p>

            <p class="switch-text">
                <a routerLink="/login">← Volver al login</a>
            </p>

        </div>
    </div>
</div>

<div class="login-loading-overlay" *ngIf="loading">
    <div class="login-loader">
        <div class="spinner"></div>
        <p>Enviando email...</p>
    </div>
</div>