body {
    background-color: #0b1622;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.title-stats {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    color: #fff;
}

.view-toggle {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    gap: 1rem;
}

.view-toggle button {
    background-color: #1e2a3a;
    color: #a5b0c0;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.view-toggle button:hover {
    background-color: #2a3a50;
    color: #fff;
}

.view-toggle button.active {
    background-color: #00bcd4;
    color: #fff;
}

.stats-card {
    background-color: #1e2a3a;
    border-radius: 12px;
    padding: 2rem;
    max-width: 1100px;
    margin: 2rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 2rem;
    gap: 15rem;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}


.stats-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.stat-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #2a3a50;
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    color: #fff;
}

.players-stats-layout {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 1400px;
    margin: 2rem auto;
}

.players-stats-layout>div {
    flex: 1;
    background-color: #1e2a3a;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.team-title {
    text-align: center;
    color: #00bcd4;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.player-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.player-table th,
.player-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

.player-table th {
    color: #00bcd4;
    font-weight: 600;
}

.loading-box,
.error-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 0.6rem;
    margin-top: 1rem;
    text-align: center;
    color: #cfd9e8;
}


.error-box {
    background: rgba(255, 82, 82, 0.1);
    color: #ff5252;
    border: 1px solid #ff5252;
}



@media (max-width: 1450px) {
    .players-stats-layout {
        flex-wrap: wrap;
        justify-content: center;
    }

    .player-table {
        min-width: 100%;
        max-width: 95%;
    }
}