<div class="auth-fullscreen fade-swap">
    <div class="auth-wrapper">
        <div class="auth-card fade-in">
            <h2>Registro</h2>

            <form [formGroup]="registerForm" (ngSubmit)="register()">

                <div class="input-group">
                    <input id="fullname" type="text" formControlName="fullname" required />
                    <label>Nombre y apellido</label>
                </div>

                <p *ngIf="submitted && f.fullname.invalid" class="err">
                    El nombre es obligatorio
                </p>

                <div class="input-group">
                    <input id="username" type="text" formControlName="username" required />
                    <label>Usuario</label>
                </div>

                <p *ngIf="submitted && f.username.errors?.['required']" class="err">
                    El usuario es obligatorio
                </p>

                <p *ngIf="submitted && f.username.errors?.['minlength']" class="err">
                    El usuario debe tener al menos 3 caracteres
                </p>

                <p *ngIf="submitted && f.username.errors?.['maxlength']" class="err">
                    El usuario no puede superar los 30 caracteres
                </p>

                <p *ngIf="submitted && f.username.errors?.['pattern']" class="err">
                    El usuario solo puede contener letras, números, puntos (.), guiones (-) y guiones bajos (_)
                </p>

                <p *ngIf="submitted && f.username.value && f.username.value.includes(' ')" class="err">
                    El usuario no puede tener espacios
                </p>

                <div class="input-group">
                    <select formControlName="gender" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="male">Masculino</option>
                        <option value="female">Femenino</option>
                        <option value="other">Otro</option>
                    </select>
                    <label>Género</label>
                </div>

                <p *ngIf="submitted && f.gender.invalid" class="err">
                    Selecciona una opción
                </p>

                <div class="input-group">
                    <input id="email" type="email" formControlName="email" required />
                    <label>Email</label>
                </div>

                <p *ngIf="submitted && f.email.invalid" class="err">
                    Email inválido
                </p>

                <div class="input-group">
                    <input id="password" type="password" formControlName="password" required />
                    <label>Contraseña</label>
                </div>

                <p *ngIf="submitted && f.password.invalid" class="err">
                    Mínimo 6 caracteres
                </p>

                <button class="auth-btn" type="submit">
                    Registrarse
                </button>
            </form>

            <p *ngIf="error" class="err">{{ error }}</p>

            <p class="switch-text">
                ¿Ya tienes cuenta?
                <a routerLink="/login">Inicia sesión</a>
            </p>
        </div>
    </div>
</div>

<div class="register-loading-overlay" *ngIf="loading || success">
    <div class="register-loader">

        <ng-container *ngIf="loading">
            <div class="spinner"></div>
            <p>Registrando usuario...</p>
        </ng-container>

        <ng-container *ngIf="success">
            <div class="checkmark">✔</div>
            <p class="success-text" *ngIf="success" style="text-align:center; color:#7CFF7C;">
                {{ success }}
            </p>
            <p class="redirect-text">Redirigiendo al inicio de sesión...</p>
        </ng-container>

    </div>
</div>