<div>
    <div class="title">
        <h1>Enfrentamientos entre equipos</h1>
        <p>Seleccioná dos equipos para ver su historial</p>
    </div>
    <main class="content">
        <header>
            <div class="filters">
                <select [(ngModel)]="selectedFirstTeam" class="inputSelect">
                    <option [ngValue]="null">Equipo 1</option>
                    <option *ngFor="let t of nbaTeams" [ngValue]="t.id">{{ t.name }}</option>
                </select>

                <select [(ngModel)]="selectedSecondTeam" class="inputSelect">
                    <option [ngValue]="null">Equipo 2</option>
                    <option *ngFor="let t of nbaTeams" [ngValue]="t.id">{{ t.name }}</option>
                </select>

                <button class="btn" (click)="fetchHeadToHead()">Buscar</button>
            </div>
        </header>

        <div class="statistics-loading" *ngIf="loading">
            <div class="spinnering"></div>
            <p>Cargando enfrentamientos...</p>
        </div>

        <section class="status" *ngIf="error">
            <div *ngIf="error" class="error">{{ error }}</div>
        </section>

        <div *ngIf="!hasSearched" class="empty">
            Ingrese los dos equipos para buscar enfrentamientos
        </div>

        <div *ngIf="hasSearched && !games.length && !loading && !error" class="empty">
            No hay enfrentamientos entre estos equipos.
        </div>

        <section class="games-grid" *ngIf="!loading && !error">
            <div class="game-card" *ngFor="let g of paginated" [routerLink]="['/game-details', g.id]">
                <div class="game-time">
                    <span class="pill" [class.live]="g.status === 'LIVE'" [class.final]="g.status === 'Final'">
                        {{ g.status }}
                    </span>
                    <span class="time">{{g.date}} - {{ g.timeLocal }}</span>
                </div>

                <div class="teams">
                    <div class="team">
                        <img [src]="g.visitors?.id === 20 ? '/assets/teams/nba-miami-heat-logo.png' : g.visitors?.logo" [alt]="g.visitors.name" />
                        <div class="team-name">{{ g.visitors.name }}</div>
                    </div>

                    <div class="score">
                        <span *ngIf="g.visitors.pts !== null && g.home.pts !== null">
                            {{ g.visitors.pts }} — {{ g.home.pts }}
                        </span>
                        <span *ngIf="g.status === 'LIVE' && g.clock">
                            {{ g.period }}C - {{ g.clock }}
                        </span>
                        <span *ngIf="g.visitors.pts === null || g.home.pts === null">vs</span>
                    </div>

                    <div class="team">
                        <img [src]="g.home?.id === 20 ? '/assets/teams/nba-miami-heat-logo.png' : g.home?.logo" [alt]="g.home.name" />
                        <div class="team-name">{{ g.home.name }}</div>
                    </div>
                </div>

                <div class="arena" *ngIf="g.arena">{{ g.arena }}</div>
            </div>
        </section>

        <div class="pagination" *ngIf="totalPages > 1">
            <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">◀</button>

            <span class="page-info">
                Página {{ currentPage }} / {{ totalPages }}
            </span>

            <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">▶</button>
        </div>


    </main>
</div>