<div class="layout">
<header class="navbar">
    <div class="left">
        <button class="btn" *ngIf="router.url !== '/'" (click)="goBack()">Volver</button>
    </div>

    <div class="brand" routerLink="/">🏀 HoopStats</div>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <nav class="menu" [ngClass]="{ 'active': menuOpen }">
        <ng-container *ngIf="!auth.isLoggedIn(); else loggedIn">
            <a routerLink="/login" (click)="closeMenu()" routerLinkActive="active" >Iniciar sesión</a>
            <a routerLink="/register" (click)="closeMenu()" routerLinkActive="active" >Registrarse</a>
        </ng-container>

        <ng-template #loggedIn>
            <a routerLink="/profile" (click)="closeMenu()" routerLinkActive="active" >Perfil</a>
            <a href="#" (click)="logout(); closeMenu()">Cerrar sesión</a>
        </ng-template>
    </nav>
</header>
</div>