<div>
  <h1>Listado de jugadores</h1>

  <div class="filters">
    <label>Apellido:</label>
    <input type="text" [(ngModel)]="selectedLastName" placeholder="Ej: Doncic" />

    <label>País:</label>
    <select [(ngModel)]="selectedCountry" class="inputSelect">
      <option [ngValue]="''">Todos los países</option>
      <option *ngFor="let c of countries" [ngValue]="c.name">{{ c.name }}</option>
    </select>

    <label>Equipo:</label>
    <select [(ngModel)]="selectedTeamId" class="inputSelect">
      <option [ngValue]="null">Todos los equipos</option>
      <option *ngFor="let t of nbaTeams" [ngValue]="t.id">{{ t.name }}</option>
    </select>

    <button (click)="getPlayersFiltered()">Buscar</button>
  </div>

  <div class="stats-loading" *ngIf="loading">
    <div class="spinner"></div>
    <p>Cargando jugadores...</p>
  </div>

  <div *ngIf="error" class="no-players">{{ error }}</div>

  <div *ngIf="!hasFilters() && !loading && !error" class="nothing">
    Ingrese un filtro para buscar jugadores.
  </div>

  <div *ngIf="hasFilters() && !players.length && !loading && !error" class="nothing">
    No hay jugadores que coincidan con los filtros seleccionados.
  </div>

  <div class="players-list" *ngIf="players.length > 0">
    <div *ngFor="let player of players" class="player-card">
      <div class="player-info">
        <h3 class="player-name" [routerLink]="['/player', player.id]">
          {{ player.firstname }} {{ player.lastname }}
        </h3>

        <ng-container *ngIf="auth.isLoggedIn()">
          <button class="btnfav" [disabled]="isFavorite(player)" (click)="addToFavorites(player)"
            [class.btn-disabled]="isFavorite(player)">
            <span *ngIf="!isFavorite(player)">⭐</span>
            <span *ngIf="isFavorite(player)">✔</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>