<div class="league-dashboard" *ngIf="currentLeague">

    <!-- HEADER LIGA -->
    <div class="league-header">
        <h2 class="league-title">{{ currentLeague.league.name }}</h2>
        <p class="subtitle">{{currentLeague.league.description}}</p>

        <div class="league-meta">

            <span class="privacy" [class.private]="currentLeague.league.privacy === 'private'">
                {{ currentLeague.league.privacy === 'private' ? 'Privada 🔒' : 'Pública 🔓' }}
            </span>

            <span class="teams-count">
                Equipos: {{ currentLeague.teams.length }} / {{currentLeague.league.max_teams}}
            </span>

            <span class="created-at">
                Creada: {{ currentLeague.league.created_at | date: 'dd/MM/yyyy' }}
            </span>

        </div>
    </div>

    <!-- TABLA RANKING -->
    <div class="ranking-anim-wrapper" [class.anim-next]="animDirection === 'next'"
        [class.anim-prev]="animDirection === 'prev'">
        <div class="ranking-table-wrapper">

            <table class="ranking-table">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Equipo</th>
                        <th>Manager</th>
                        <th>Puntos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let t of currentLeague.teams; index as i"
                        [class.me]="t.team_id === currentLeague.me.team_id">

                        <td data-label="#">{{ i + 1 }}</td>

                        <td data-label="Equipo">{{ t.team_name }}</td>

                        <td data-label="Owner">@{{ t.owner }}</td>

                        <td data-label="Puntos">{{ t.points }}</td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <!-- PAGINADOR -->
    <div class="pagination-row" *ngIf="leagues.length > 1">
        <button (click)="prevLeague()" [disabled]="currentIndex === 0">◀</button>

        <span>{{ currentIndex + 1 }} / {{ leagues.length }}</span>

        <button (click)="nextLeague()" [disabled]="currentIndex === leagues.length - 1">▶</button>
    </div>

</div>

<!-- SI NO TIENE LIGAS -->
<div *ngIf="leagues.length === 0 && !loading" class="empty-text">
    No participás en ninguna liga.
</div>