<div class="home-wrapper">

  <section class="top-section">

    <div class="left-column">

      <div class="panel news-panel">
        <h2>📰 Noticias destacadas</h2>

        <div *ngIf="!news.length" class="news-empty">
          <p>No hay noticias cargadas aún.</p>
        </div>

        <div *ngIf="news.length">
          <div class="news-card" *ngFor="let n of news; trackBy: trackNews">

            <img [src]="n.image" class="news-img" loading="lazy" decoding="async" width="180" height="115" />

            <div class="news-info">
              <h3 class="news-title">{{ n.title }}</h3>
              <p class="news-desc">{{ n.description }}</p>

              <button class="news-button" *ngIf="n?.url" (click)="openNews(n.url)">
                Leer noticia completa
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="panel players-panel">
      <h2>🏆 Mejores jugadores del día de ayer</h2>

      <div *ngIf="loadingPlayers" class="empty">Cargando jugadores...</div>
      <div *ngIf="!loadingPlayers && errorPlayers" class="empty">{{ errorPlayers }}</div>

      <div *ngIf="!loadingPlayers && bestPlayers.length" class="players-grid">
        <div class="player-card" *ngFor="let p of bestPlayers; trackBy: trackPlayers">
          <h3>{{ p.category }}</h3>
          <p><span>{{ p.player }} </span>|<strong> {{ p.value }}</strong></p>
        </div>
      </div>
    </div>

    <div class="panel live-panel">
      <h2>
        Partidos en vivo <span class="live-dot"></span>
      </h2>

      <div *ngIf="loadingLive" class="empty">Cargando partidos...</div>
      <div *ngIf="!loadingLive && errorLive" class="empty">{{ errorLive }}</div>

      <div *ngIf="!loadingLive && liveGames.length" class="live-list">

        <div class="live-card" *ngFor="let g of liveGames; trackBy: trackGame" [routerLink]="['/game-details', g.id]">

          <div class="teams">

            <div class="team">
              <img [src]="g.visitors.logo" loading="lazy" width="38" decoding="async" height="38" />
              <span>{{ g.visitors.name }}</span>
            </div>

            <div class="score-box">

              <div class="score-line">
                <span class="score-num" [ngClass]="{
                    'winner': (g.visitors?.pts ?? 0) > (g.home?.pts ?? 0),
                    'loser':  (g.visitors?.pts ?? 0) < (g.home?.pts ?? 0),
                    'draw':   (g.visitors?.pts ?? 0) === (g.home?.pts ?? 0)
                    }">
                  {{ g.visitors?.pts }}
                </span>

                <span class="dash">–</span>

                <span class="score-num" [ngClass]="{
                    'winner': (g.home?.pts ?? 0) > (g.visitors?.pts ?? 0),
                    'loser':  (g.home?.pts ?? 0) < (g.visitors?.pts ?? 0),
                    'draw':   (g.home?.pts ?? 0) === (g.visitors?.pts ?? 0)
                    }">
                  {{ g.home?.pts }}
                </span>


              </div>

              <div class="score-meta">
                <span class="period">{{ g.period }}C</span>
                <span class="dot">•</span>
                <span class="clock">{{ g.clock || 'En juego' }}</span>
              </div>

            </div>


            <div class="team">
              <img [src]="g.home.logo" loading="lazy" width="38" height="38" />
              <span>{{ g.home.name }}</span>
            </div>

          </div>

          <div class="arena">{{ g.arena }}</div>

        </div>

      </div>
    </div>

  </section>
</div>