body {
  background-color: #0b1622;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #ffb347;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.tables-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: 95%;
  max-width: 1600px;
}

.table-box {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e2a3a;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  min-width: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: center;
  color: #fff;
  height: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.95rem;
}

th {
  background-color: #24344a;
  color: #ffb347;
  font-weight: 600;
}

tr:hover {
  background-color: #2a3a50;
  transition: 0.2s;
}

.team-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.team-cell img {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.team-cell span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1;
}


@media (max-width: 450px) {
  .tables-wrapper {
    flex-direction: column;
    align-items: center; /* Cambia el diseño a columna */
  }

  .table-box {
    width: 90%; /* Ocupa el 100% del ancho disponible */
    min-width: 90%; /* Asegurarse de que no haya mínimo ancho */
  }

  table {
    font-size: 0.7rem; /* Ajustar el tamaño de la fuente en pantallas pequeñas */
  }

  th,
  td {
    padding: 5px; /* Reducir el padding de las celdas */
  }

  .team-cell img {
    width: 30px; /* Reducir el tamaño de las imágenes */
    height: 30px;
  }
}