.predictions-container {
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    background: #15264b;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: #f8c471;
}

.loading,
.no-predictions {
    font-size: 1.2rem;
    opacity: 0.8;
}

.predictions-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.prediction-card {
    background: #1b2f5b;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.prediction-card:hover {
    transform: scale(1.03);
}

.prediction-card h2 {
    font-size: 1.2rem;
    margin-bottom: .8rem;
    font-weight: 600;
    color: #f8c471;
}

.prediction-row {
    display: flex;
    justify-content: space-between;
    margin: .4rem 0;
}

.label {
    opacity: 0.8;
}

.points {
    font-weight: bold;
    color: #4caf50;
}

@media (max-width: 1024px) {
    .predictions-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .predictions-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 530px) {
    .predictions-container {
        max-width: 800px;
        padding: 2rem;
    }

    .predictions-grid {
        grid-template-columns: 1fr;
    }
}