<div>
  <h1>Listado de jugadores</h1>

  <div class="filters">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="selectedLastName" placeholder="Apellido" />

    <label>País:</label>
    <select [(ngModel)]="selectedCountry" class="inputSelect">
      <option [ngValue]="''">Todos los países</option>
      <option *ngFor="let c of countries" [ngValue]="c.name">{{ c.name }}</option>
    </select>


    <label>Equipo:</label>
    <select [(ngModel)]="selectedTeamId" class="inputSelect">
      <option [ngValue]="null">Todos los equipos</option>
      <option *ngFor="let t of nbaTeams" [ngValue]="t.id">{{ t.name }}</option>
    </select>

    <button (click)="getPlayersFiltered()">Buscar</button>
  </div>

  <div *ngIf="loading">Cargando jugadores...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="players-list">
    <div *ngFor="let player of players" class="player-card">
      <div class="player-info">
        <h3 class="player-name" [routerLink]="['/player', player.id]">
          {{ player.firstname }} {{ player.lastname }}
        </h3>

        <button class="btnfav" [disabled]="isFavorite(player)" (click)="addToFavorites(player)"
          [class.btn-disabled]="isFavorite(player)">
          <span *ngIf="!isFavorite(player)">⭐</span>
          <span *ngIf="isFavorite(player)">✔</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!players.length && !loading" class="no-players">
    No hay jugadores disponibles.
  </div>

</div>