.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #0b1223;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-content {
  flex: 1;
  padding: 1.5rem;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
  font-size: 15px;
  font-weight: 500;
  color: #d4d4d4;
  background: #0e162e;
  border-top: 1px solid #1d2745;
  flex-wrap: wrap;
  gap: 10px;
}

.app-footer p {
  margin: 0;
  letter-spacing: 0.5px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  text-align: center;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

/* Responsive para celulares */
@media (max-width: 768px) {

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
  }
}