<div class="layout">
    <main class="content">
        <header class="content-header">
            <div>
                <h1>Partidos</h1>
                <p class="subtitle">Busque partidos por fecha o por estado</p>
            </div>

            <div class="toolbar">
                <select [(ngModel)]="selectedStatus" (change)="applyFilter()" class="inputSelect">
                    <option value="">Todos los partidos</option>
                    <option value="Finished">Finalizados</option>
                    <option value="Live">En vivo</option>
                    <option value="Scheduled">Programado</option>
                </select>

                <input type="date" [value]="selectedDate" (change)="onDateChange($event)" />
                <button class="btn" (click)="goToday()">Hoy</button>
                <button class="btn" (click)="loadGames()">Actualizar</button>
            </div>
        </header>

        <section class="status" *ngIf="error">
            <div class="error">{{ error }}</div>
        </section>

        <section class="games-grid" *ngIf="!error">
            <div *ngIf="isReady && !gamesShown?.length" class="empty">
                No hay partidos para el filtro seleccionado.
            </div>

            <div class="game-card" *ngFor="let g of gamesShown" [class.no-click]="g.status === 'Programado'"
                (click)="getLink(g)">
                <div class="game-time">
                    <span class="pill" [class.live]="g.status==='LIVE'" [class.final]="g.status==='Final'">
                        {{ g.status }}
                    </span>
                    <span class="time">{{ g.timeLocal }}</span>
                </div>

                <div class="teams">
                    <div class="team">
                        <img [src]="g.visitors.logo" [alt]="g.visitors.name" />
                        <div class="team-name" [routerLink]="['/teams', g.visitors.id]"
                            (click)="$event.stopPropagation()">
                            {{ g.visitors.name }}
                        </div>
                    </div>

                    <div class="score">
                        <span *ngIf="g.visitors.pts !== null && g.home.pts !== null">
                            {{ g.visitors.pts }} — {{ g.home.pts }}
                        </span>

                        <span *ngIf="g.status==='LIVE' && g.clock">
                            {{ g.period }}C - {{ g.clock }}
                        </span>

                        <span *ngIf="g.visitors.pts === null || g.home.pts === null">vs</span>
                    </div>

                    <div class="team">
                        <img [src]="g.home.logo" [alt]="g.home.name" />
                        <div class="team-name" [routerLink]="['/teams', g.home.id]" (click)="$event.stopPropagation()">
                            {{ g.home.name }}
                        </div>
                    </div>
                </div>

                <div class="arena" *ngIf="g.arena">{{ g.arena }}</div>

                <ng-container *ngIf="auth.isLoggedIn()">
                    <div class="prediction-box" *ngIf="g.status === 'Programado'">

                        <h4>Tu predicción</h4>

                        <div class="prediction-inputs">
                            <div class="team-pred">
                                <label>{{ g.visitors.name }}</label>
                                <input type="number" min="0" [(ngModel)]="g.predVisitors" placeholder="Pts" />
                            </div>

                            <div class="team-pred">
                                <label>{{ g.home.name }}</label>
                                <input type="number" min="0" [(ngModel)]="g.predHome" placeholder="Pts" />
                            </div>
                        </div>

                        <button class="btn-predict" (click)="savePrediction(g)">
                            Guardar predicción
                        </button>

                        <p class="error-msg" *ngIf="g.predictionError">
                            {{ g.predictionError }}
                        </p>

                        <p class="saved" *ngIf="g.savedPrediction">Predicción guardada</p>
                    </div>
                </ng-container>
            </div>
        </section>
    </main>
</div>