body.no-scroll {
    overflow: hidden;
}

.loader-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    animation: fadeIn .3s ease-out;
}

.nba-ball-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* PELOTA REAL */
.ball {
    --ball-size: 70px;

    width: var(--ball-size);
    height: var(--ball-size);

    object-fit: contain;
    border-radius: 50%;

    /* Sombra */
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));

    /* Animaciones */
    animation: bounce 1.15s infinite ease-in-out,
        rotate 7s infinite linear;
}

.nba-ball-loader p {
    color: #e89a38;
    font-size: 1.1rem;
    font-weight: 600;
    animation: fadeText .8s infinite alternate;
}

/* Animaciones */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-22px);
    }

    70% {
        transform: translateY(-10px);
    }
}

@keyframes fadeText {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .ball {
        --ball-size: 55px;
    }

    .nba-ball-loader p {
        font-size: 0.9rem;
    }
}