<div class="teams-container">
    <h1>Equipos de la NBA</h1>
    <p class="subtitle">Seleccione un equipo para ver más detalles</p>

    <div *ngIf="!teamsEast.length && !teamsWest.length" class="loading">
        Cargando equipos...
    </div>

    <input type="text" placeholder="Buscar equipo..." [(ngModel)]="searchTerm" class="input" />

    <select [(ngModel)]="selectedDivision" class="inputSelect">
        <option value="">Todas las divisiones</option>
        <option value="Atlantic">Atlantic</option>
        <option value="Central">Central</option>
        <option value="Southeast">Southeast</option>
        <option value="Northwest">Northwest</option>
        <option value="Pacific">Pacific</option>
        <option value="Southwest">Southwest</option>
    </select>

    <div class="conference-grid">
        <div class="conference-column">
            <h2>Conferencia Este</h2>
            <div class="team-list">
                <div class="menu-card small" *ngFor="let team of filteredTeams(teamsEast)">
                    <h3>
                        <a [routerLink]="['/teams', team.id]" class="team-link">
                            {{ team.name }}
                        </a>
                    </h3>
                    <p>{{ team.city }} - {{ team.leagues.standard.division }}</p>
                </div>
            </div>
            <div *ngIf="!filteredTeams(teamsEast).length">
                <p class="no-results">No hay equipos que coincidan con los filtros.</p>
            </div>
        </div>
        <div class="conference-column">
            <h2>Conferencia Oeste</h2>
            <div class="team-list">
                <div class="menu-card small" *ngFor="let team of filteredTeams(teamsWest)">
                    <h3>
                        <a [routerLink]="['/teams', team.id]" class="team-link">
                            {{ team.name }}
                        </a>
                    </h3>
                    <p>{{ team.city }} - {{ team.leagues.standard.division }}</p>
                </div>
            </div>
            <div *ngIf="!filteredTeams(teamsWest).length">
                <p class="no-results">No hay equipos que coincidan con los filtros.</p>
            </div>
        </div>
    </div>
</div>