<div class="page">
    <h1 class="title">Mis Favoritos</h1>
    <section class="favorites-section">
        <h3 class="section">Equipos Favoritos</h3>

        <div *ngIf="!favoriteTeams.length" class="empty">
            No tienes equipos favoritos aún
        </div>

        <table *ngIf="favoriteTeams.length" class="table">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th class="actions">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let t of favoriteTeams">
                    <td class="team">
                        <img [src]="t.logo" [alt]="t.fullName || t.name" />
                        <span>{{ t.nombre || t.name }}</span>
                    </td>
                    <td class="actions">
                        <button class="btn-secondary" [routerLink]="['/teams', t.id]">Detalles</button>
                        <button class="btn-danger" (click)="remove('team', t.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="favorites-section">
        <h3 class="section">Jugadores Favoritos</h3>

        <div *ngIf="!favoritePlayers.length" class="empty">
            No tienes jugadores favoritos aún
        </div>

        <table *ngIf="favoritePlayers.length" class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th class="actions">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let t of favoritePlayers">
                    <td class="team">
                        <span>{{ t.nombre || t.fullname }}</span>
                    </td>
                    <td class="actions">
                        <button class="btn-secondary" [routerLink]="['/player', t.id]">Detalles</button>
                        <button class="btn-danger" (click)="remove('player', t.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>